{% extends "layout.html" %}
{% block content %}

<div id="parent-div" class="grid gap-8 grid-cols-3 mt-5 ">
    <script type="text/javascript">
        var data_list = {{ data['results'] | tojson | safe }};
        console.log(data_list);
        var toAdd = document.createDocumentFragment();
        for (let index in data_list) {
            var item = data_list[index];
            artist_name = '';
            for (artist of item.artists.raw) {
                artist = JSON.parse(artist);
                artist_name += artist.name + '; ';
            };
            artist_name = artist_name.slice(0, artist_name.length - 2);
            console.log(artist_name);

            var newAtag = document.createElement('a');

            var newDiv = document.createElement('div');
            newDiv.id = 'result-div' + index;
            newDiv.className = 'transition duration-500 ease-in-out flex py-3 px-2 hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg';

            var images = item.image.raw;
            console.log(typeof images)
            console.log(images)
            if (images.length == 0) {
                var image = '../static/images/no-image-icon.jpg';
            }
            else {
                console.log(typeof images[0]);
                console.log(images[0]);
                var image = JSON.parse(images[0]).url;
            };

            newDiv.innerHTML = '<img src=' + image + ' class="h-16 w-12 mr-20 ml-10 mt-14" alt="Image">';

            var innerDiv = document.createElement('div');
            innerDiv.id = 'inner-div' + index;
            innerDiv.className = 'w-3/5 mr-0';
            innerDiv.innerHTML = '<h2 class="text-xl font-bold">' + item.name.raw + '</h2><br/>';
            innerDiv.innerHTML += '<p><strong><u>Artist</strong></u>: ' + artist_name + '</p>';
            innerDiv.innerHTML += '<p><strong><u>No. of tracks</strong></u>: ' + item.total_tracks.raw + '</p>';
            innerDiv.innerHTML += '<p><strong><u>Released On</strong></u>: ' + item.release_date.raw + '</p>';

            newAtag.href = "../../../album_tracks/id/" + item.spotify_id.raw;

            newDiv.appendChild(innerDiv);
            newAtag.appendChild(newDiv);
            toAdd.appendChild(newAtag);
        };
        document.getElementById('parent-div').appendChild(toAdd);
    </script>
</div>
{% endblock %}
