{% extends "layout.html" %}
{% block content %}
<div class="justify-items-center">
    <div id="parent-div" class="grid2 gap-8 grid-cols-1 mt-5 ml-8 ">
        <script type="text/javascript">
            var data_list = {{ data['results'] | tojson | safe }};
            console.log(data_list);
            var toAdd = document.createDocumentFragment();
            for (let index in data_list) {
                var item = data_list[index];
                artist_name = '';
                for (artist of item.artists.raw) {
                    artist = JSON.parse(artist);
                    artist_name += artist.name + '; ';
                };
                artist_name = artist_name.slice( 0, artist_name.length - 2 );
                var newDiv = document.createElement('div');
                newDiv.id = 'result-div' + index;
                newDiv.className = 'transition duration-500 ease-in-out flex py-3 px-2 hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg';
                newDiv.innerHTML = '<img id="artist_image" src="' + item.image.raw + '" class="h-16 w-12 mr-20 ml-10 mt-14" alt="Image">';
                var innerDiv = document.createElement('div');
                innerDiv.className = "text-gray-800"
                innerDiv.id = 'inner-div' + index;
                innerDiv.className = 'w-3/5 mr-0';
                innerDiv.innerHTML = '<h2 class="text-3xl font-bold">' + item.name.raw + '</h2><br/>';
                innerDiv.innerHTML += '<p class="text-xl"><strong><u>Artist</strong></u>:  ' + artist_name + '</p>';
                innerDiv.innerHTML += '<p class="text-xl"><strong><u>Duration</strong></u>:  ' + item.duration.raw + ' minutes</p><br/>';

                if (item.preview_url.raw) {
                    innerDiv.innerHTML += '<p><strong><u>Preview</strong></u>:  </p><br/>'
                    innerDiv.innerHTML += '<audio controls> <source src=' + item.preview_url.raw + 'type="audio/mpeg">'+
                                        'Your browser does not support the audio element. </audio>';
                }
                else {
                    innerDiv.innerHTML += '<p>Oops!! No Preview</p><br/>';
                }
                
                var audioVideoDiv = document.createElement('div');
                audioVideoDiv.id = 'audioVideoDiv' + index;

                if (item.spotify_url.raw) {
                    audioVideoDiv.innerHTML = '<br/><iframe title="Spotify Audio" src="'+item.spotify_url.raw+'" align="left" width="250" height="360" frameborder="1" allowtransparency="true" allow="encrypted-media"></iframe>';
                    
                }
                else {
                    audioVideoDiv.innerHTML = '<br/><iframe title="Spotify Audio">Sorry!! Cannot Find Spotify Link</iframe>';
                }
                
                if (item.youtube_url.raw) {
                    audioVideoDiv.innerHTML += '<iframe title="YouTube Video" style="padding:10px" id="ytplayer" align="left" width="600" height="360" src="' + item.youtube_url.raw + '" frameborder="1" allowtransparency="true" allow="encrypted-media"></iframe>';

                }
                else {
                    audioVideoDiv.innerHTML += '<iframe title="YouTube Video">Sorry!! Cannot Find YouTube Video</iframe><br/><br/>';
                }


                innerDiv.appendChild(audioVideoDiv);      

                var lyricsDiv = document.createElement('div');
                lyricsDiv.id = 'lyrics' + index;
                lyricsDiv.innerHTML = '<br/><br/><p><strong><u>Lyrics:</strong></u></p>';
                lyricsDiv.innerHTML += '<br/><pre class="pre"><code>' + item.lyrics.raw + '<code></pre>';
                
                innerDiv.appendChild(lyricsDiv);              
                
                newDiv.appendChild(innerDiv);
                toAdd.appendChild(newDiv);
                
            };
            document.getElementById('parent-div').appendChild(toAdd);
        </script>
    </div>
</div>
{% endblock %}