{% extends "layout.html" %}
{% block content %}
<div class="justify-items-center">
    <div id="parent-div" class="grid gap-8 grid-cols-3 mt-5 ">
        <script type="text/javascript">
            var data_list = {{ data['results'] | tojson | safe }};
            console.log(data_list);
            var toAdd = document.createDocumentFragment();
            for (let index in data_list) {
                var item = data_list[index];
                artist_name = '';
                for (artist of item.artists.raw) {
                    artist = JSON.parse(artist);
                    artist_name += artist.name + '; ';
                };
                artist_name = artist_name.slice( 0, artist_name.length - 2 );
                
                album_name = item.album.raw;
                
                var newAtag = document.createElement('a');
                
                var newDiv = document.createElement('div');
                newDiv.id = 'result-div' + index;
                newDiv.className = 'transition duration-500 ease-in-out flex py-3 px-2 hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg';
                newDiv.innerHTML = '<img id="artist_image" src="' + item.image.raw + '" class="h-16 w-12 mr-20 ml-10 mt-14" alt="Image">';
                var innerDiv = document.createElement('div');
                innerDiv.id = 'inner-div' + index;
                innerDiv.className = 'w-3/5 mr-0';
                innerDiv.innerHTML = '<h2 class="text-xl font-bold">' + item.name.raw + '</h2><br/>';
                innerDiv.innerHTML += '<p><strong><u>Album</strong></u>:  ' + album_name + '</p>';
                innerDiv.innerHTML += '<p><strong><u>Artist</strong></u>:  ' + artist_name + '</p>';
                innerDiv.innerHTML += '<p><strong><u>Duration</strong></u>:  ' + item.duration.raw + ' minutes</p><br/>';
                if (item.preview_url.raw) {
                    innerDiv.innerHTML += '<audio controls> <source src=' + item.preview_url.raw + 'type="audio/mpeg">'+
                                        'Your browser does not support the audio element. </audio>';
                }
                else {
                    innerDiv.innerHTML += '<p>Oops!! No Preview</p>';
                }
                
                newAtag.href = "../../../track_details/id/"+item.spotify_id.raw;
                newAtag.target = "_blank";
                newDiv.appendChild(innerDiv);
                newAtag.appendChild(newDiv);
                toAdd.appendChild(newAtag);
            };
            document.getElementById('parent-div').appendChild(toAdd);
        </script>
    </div>
</div>
{% endblock %}